body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  text-align: center;
}

nav a {
  background-color:gray;
}

a {
  padding-left: 10px;
  padding-right: 10px;
} 

figcaption {
  text-align: center;
  font-size: smaller;
}

section#featured-property p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

div {
  text-align: center;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: red;
}

